html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body{
	font-family:'Yanone Kaffeesatz', sans-serif;
}
h1{
	font-family: 'Philosopher', sans-serif;
	font-size: 28px;
}
h2{
	font-family: 'Philosopher', sans-serif;
	font-size: 20px;
}
input{
	width:20px;
}
#settings{
	font-size: 18px;
	float:left;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	padding:10px;
	height:50px;
}
#submitSettings{
	width: 60px;
	height: 16px;
	background: #000;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	text-align: center;
	padding: 5px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: inline-block;
	letter-spacing: 1px;
}

#grid{
	width: 370px;
	list-style: none;
	clear:both;
}
#gameInfo{
	background: #6F31FE;
	color: #fff;
	border: 10px #fff double;
	width: 30%;
	height: auto;
	float:left;
	font-size: 20px;
	padding:10px;
	letter-spacing: 1px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	position:absolute;
	z-index: 10;
	margin: 0% 66%;
}
#newGame{
	font-size: 20px;
	color: red;
	text-transform: lowercase;
}
.box{
	width: 100px;
	height: 150px;
	border: 1px solid #D8DAE0;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
	margin: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: url('../img/card.jpg');
}
.box:hover{
	background: #D8DAE0;
	/*-webkit-animation: cardFade 0.2s;
	animation: cardFade 0.2s;*/
}

/*@-webkit-keyframes cardFade{
	0% {background: #fff;}
	100% {background: #D8DAE0;}
}
@keyframes cardFade{
	0% {background: #fff;}
	100% {background: #D8DAE0;}
}*/

.dot1{
	-webkit-animation: dotAnimate 18s;
	animation: dotAnimate 18s;
}
.dot2{
	-webkit-animation: dotAnimate 19s;
	animation: dotAnimate 19s;
}
.dot3{
	-webkit-animation: dotAnimate 20s;
	animation: dotAnimate 20s;
}
@-webkit-keyframes dotAnimate{
	0% {color: #F50C5A;}
	5% {color: #0E2A98;}
	10% {color: #FA7826;}
	15% {color: #18FBE8;}
	20% {color: #7318FB;}
	25% {color: #C40C02;}
	30% {color: #F91EF2;}
	35% {color: #3E0BB6;}
	40% {color: #05CE62;}
	45% {color: #05CEAF;}
	50% {color: #22DCF5;}
	55% {color: #F50C5A;}
	60% {color: #0E2A98;}
	65% {color: #FA7826;}
	70% {color: #18FBE8;}
	75% {color: #7318FB;}
	80% {color: #C40C02;}
	85% {color: #F91EF2;}
	90% {color: #3E0BB6;}
	95% {color: #05CE62;}
	100% {color: #05CEAF;}
}
@keyframes dotAnimate{
	0% {color: #F50C5A;}
	5% {color: #0E2A98;}
	10% {color: #FA7826;}
	15% {color: #18FBE8;}
	20% {color: #7318FB;}
	25% {color: #C40C02;}
	30% {color: #F91EF2;}
	35% {color: #3E0BB6;}
	40% {color: #05CE62;}
	45% {color: #05CEAF;}
	50% {color: #22DCF5;}
	55% {color: #F50C5A;}
	60% {color: #0E2A98;}
	65% {color: #FA7826;}
	70% {color: #18FBE8;}
	75% {color: #7318FB;}
	80% {color: #C40C02;}
	85% {color: #F91EF2;}
	90% {color: #3E0BB6;}
	95% {color: #05CE62;}
	100% {color: #05CEAF;}
}