body{
	font-family:'Yanone Kaffeesatz', sans-serif;
}
h1{
	font-family: 'Philosopher', sans-serif;
	float:left;
	margin-right:20px;
}
#settings{
	width: 250px;
	height: 80px;
	border:1px solid #ccc;
	font-size: 18px;
	float:left;
}
#submitSettings{
	width: 60px;
	height: 16px;
	background: #000;
	color: #fff;
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 1px;
	text-align: center;
	padding: 5px;
	margin-left: 5px;
}

#grid{
	width: 370px;
	list-style: none;
	float:right;
}
.box{
	width: 100px;
	height: 150px;
	border: 1px solid #ccc;
	float: left;
	background-position: center;
	background-repeat: no-repeat;
}
.box:hover{
	background: #ccc;
}